<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">You Hungry Bro?!
            <img src="/assets/img/burger.png" width="300px" class="img-responsive center-block" title="Burger" alt="Burger"></a>
            </h1>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter a Burger You'd eat. Then hit submit!</label>
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

